.wrap {
    border:1px solid #999;
    width:300px;
    padding:5px;
    font-size:13px;
    color:#333;
    box-sizing:border-box;
}

/* 채팅창 */
.chat_area {
    height:350px;
    background:#acc2d2;
    padding:10px;
    border-radius:5px;
    overflow-y:auto;
}

/* 공통 디자인(메세지) */
.chat_area .item {

}
.chat_area .item + .item {
    margin-top:15px;
}
.chat_area .item .box {
    display:inline-block;
    max-width:180px;
    position:relative;
}
.chat_area .item .box:before {
    content:'';
    display:block;
    width: 0; 
    height: 0; 
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent; 
    border-right: 8px solid #fff;
    position:absolute;
    left:-8px;
    top:9px
}
.chat_area .item .box .msg {
    background:#fff;
    padding:8px;
    border-radius:8px;
}
.chat_area .item .box .time {
    position:absolute;
    right:-75px;
    bottom:3px;
    width:70px;
    font-size:11px;
    color:#999;
}

/* 나의 메세지 */
.chat_area .item.mymsg {
    text-align:right;
}
.chat_area .item.mymsg .box .msg {
    background:#fee600;
}
.chat_area .item.mymsg .box:before{
    border-right:0;
    border-left:8px solid #fee600;
    left:auto; /* 공통 클래스의 left 값 초기화 */
    right:-8px;
}
.chat_area .item.mymsg .box .time {
    left:-75px;
    right:auto;
}

/* 입력창 디자인 */
.input_area {
    margin-top:5px;
}
.input_area input[type="text"] {
    width:100%;
    box-sizing:border-box;
    border:0;
    background:#ddd;
    height:30px;
    border-radius:5px;
    padding-left:10px;
}
.input_area input[type="text"] + input[type="text"]  {
    margin-top:5px;
}
.input_area input[type="text"]:placeholer {
    color:#999;
}


